body 
{
  background-image: url(https://cdn.pixabay.com/photo/2019/10/25/09/40/sci-fi-4576494_1280.jpg);
  font-color: white;
}
a{font-family:fantasy;
  font-color: white;
}
table
{
  font-family: monospace;
}
div.reading
{
  font-color: white;
  font-size: 13px;
}




