@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
body 
{
  //background-image: url(https://cdn.pixabay.com/photo/2019/10/25/09/40/sci-fi-4576494_1280.jpg);
  color: lightgreen;
  background-color: black;
  font-family:'VT323';
  font-size: 20px;

   
}
img.person_image 
{

  width: 280px;
  height: 400px;
  border: solid;
  background: green;
  border-width: 2px;
  border-color: lightgreen;
   opacity: .5;
   filter: grayscale(50%);
  //border-radius: 10px;
  //filter: grayscale(.7) blur(.5px) sepia(.6);
}
  
a{font-family:'VT323';
  color: lightgreen;
  font-size: 20px;
  margin: 10px;
}
table, td
{
  border: solid;
  border-collapse:collapse;
  font-family: 'VT323';
  color: lightgreen;
  font-size:30px
  border-color: lightgreen;
  text-align: center;
}
a:hover{ 
background-color:lightslategray;
  font-size:23px;
}

.person_info
{
background:green;
margin-bottom: 50px;
}

.username
{
  position:absolute;
}



.person_info
{
  width:285px;
  height:405px
}

.day-box
{
  margin:20px
}
input
{
  background-color: black;
  color: lightgreen;
  border-color: lightgreen;
}

body
{
  animation: fading .2s;
  
  animation-fill-mode: forwards; 
}

@keyframes fading{0%{opacity:0}50%{opacity:.5}51%{opacity:0}100%{opacity:1}}


