body 
{
  background-image: url(https://cdn.pixabay.com/photo/2019/10/25/09/40/sci-fi-4576494_1280.jpg);
  color: white;
}
a{font-family:fantasy;
  color: white;
}
table
{
  font-family: monospace;
  color: white;
}



